dataset/test/Apple/*/
dataset/test/Banana/*/
dataset/test/Grapes/*/
dataset/test/Mango/*/
dataset/test/Orange/*/

dataset/training/Apple/*/
dataset/training/Banana/*/
dataset/training/Grapes/*/
dataset/training/Mango/*/
dataset/training/Orange/*/

dataset/validation/Apple/*/
dataset/validation/Banana/*/
dataset/validation/Grapes/*/
dataset/validation/Mango/*/
dataset/validation/Orange/*/